@model EntityLayer.Concrete.WriterMessage
@{
    ViewData["Title"] = "MessageDetails";
    Layout = "~/Views/Shared/_WriteLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <link rel="stylesheet" type="text/css" href="js/select.dataTables.min.css">
    <link rel="stylesheet" href="css/vertical-layout-light/style.css">
</head>
<body>
    <div class="content-wrapper">
        <div class="row justify-content-center">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <p class="card-title" style="font-size: 24px">@Model.Subject</p>
                        <br />
                        <p class="font-weight-500" style="font-size: 15px; word-break:break-word">@Model.MessageContent</p>
                        <div class="text-right">
                            @*<small><strong>@Model.Date.ToString("dd.MM.yyyy")</strong></small>*@
                            <small><strong>@Model.SenderName</strong></small>
                        </div>
                        <div class="text-left">
                            <small>@Model.Date.ToString("dd.MM.yyyy")</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="vendors/js/vendor.bundle.base.js"></script>
    <script src="vendors/datatables.net/jquery.dataTables.js"></script>
    <script src="vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
    <script src="js/dataTables.select.min.js"></script>
</body>
</html>


