@model EntityLayer.Concrete.Contact
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}


@using (Html.BeginForm("Index", "ContactSubPlace", FormMethod.Post))
{
	<div class="col-12 grid-margin stretch-card">
		<div class="card">
			<div class="card-body">
				<p class="card-description"> İletişim Panel Düzenleme Sayfası </p>
				<form class="forms-sample">
					@Html.HiddenFor(x=>x.ContactID)
					<div class="form-group">
						@Html.Label("Başlık")
						@Html.TextBoxFor(x=>x.Title,new { @class ="form-control" })
					</div>
					<div class="form-group">
						@Html.Label("Açıklama")
						@Html.TextBoxFor(x=>x.Description,new { @class ="form-control" })
					</div>
					<div class="form-group">
						@Html.Label("Mail")
						@Html.TextBoxFor(x=>x.Mail,new { @class ="form-control" })
					</div>
					<div class="form-group">
						@Html.Label("Telefon")
						@Html.TextBoxFor(x=>x.Phone,new { @class ="form-control" })
					</div>
					<button class="btn btn-success">Güncelle</button>
				</form>
			</div>
		</div>
	</div>
}



